.idea/

# Created by https://www.gitignore.io/api/macos,linux,django,python,pycharm

### Django ###
*.log
*.pot
*.pyc

**/migrations/

__pycache__/
local_settings.py
db.sqlite3
media
settings/settings_local.py
settings/settings_prod.py