<div class="card-footer">
    <nav aria-label="Contacts Page Navigation">
        <ul class="pagination justify-content-center m-0">
            {% if page_obj.has_previous%}
            <li class="page-item">
                {%if url_filter%}
                <a class="page-link" href="{{url_filter}}&page={{page_obj.previous_page_number}}">«</a>
                {%else%}
                <a class="page-link" href="?page={{page_obj.previous_page_number}}">«</a>
                {%endif%}
            </li>
            {% endif%}
            {% for p in paginator.page_range %}
            {% if page_obj.number == p%}
            {%if url_filter%}
            <li class="page-item active"><a class="page-link" href="{{url_filter}}&page={{p}}">{{p}}</a>
            </li>
            {%else%}
            <li class="page-item active"><a class="page-link" href="?&page={{p}}">{{p}}</a></li>
            {%endif%}
            {%elif p >= page_obj.number|add:-10 and page_obj.number|add:10%}
            {%if url_filter%}
            <li class="page-item"><a class="page-link" href="{{url_filter}}&page={{p}}">{{p}}</a></li>
            {%else%}
            <li class="page-item"><a class="page-link" href="?&page={{p}}">{{p}}</a></li>
            {%endif%}
            {%endif%}
            {% endfor%}
            {% if page_obj.has_next%}
            <li class="page-item">
                {%if url_filter%}
                <a class="page-link" href="{{url_filter}}&page={{page_obj.next_page_number}}">»</a></li>
            {%else%}
            <a class="page-link" href="?page={{page_obj.next_page_number}}">»</a></li>
            {%endif%}
            {% endif%}
        </ul>
    </nav>
</div>