{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{% static 'img/logo/AdminLTELogo.png'%}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">GA project</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                {% if request.user.image_smol%}
                    <img src="{{ request.user.image_smol.url }}" class="img-circle elevation-2">
                {% else %}
                    <img src="{% static 'img/avatar_smol.jpg' %}" class="img-circle elevation-2">
                {% endif%}
            </div>
            <div class="info">
                <a href="{% url 'workers_detail' request.user.slug%}" class="d-block">{{ request.user.surname }} {{ request.user.name.0 }}.{{ request.user.patronymic.0 }}.</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-header">Пользователи</li>
                <li class="nav-item">
                    <a href="{%url 'workers'%}" class="nav-link">
                        <i class="nav-icon fa fa-user"></i>
                        <p>Сотрудники</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% if perms.workers.WorkersPlannig_department_view or perms.workers.WorkersPlannig_subdivision_view or perms.workers.WorkersPlannig_management_view or perms.workers.WorkersPlannig_his_view%}
                    <a href="{%url 'workers_planning'%}" class="nav-link">
                        <i class="nav-icon fa fa-book"></i>
                        <p>Планирование работ</p>
                    </a>
                    {%endif%}
                </li>
            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-header">Объекты</li>
                <li class="nav-item">
                    <a href="{%url 'objects'%}" class="nav-link">
                        <i class="nav-icon fa fa-industry"></i>
                        <p>Объекты</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>