{% extends 'base.html'%}
{% load static %}
{% block content_header %}
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item"><a href="{% url 'workers'%}">Пользователи</a></li>
<li class="breadcrumb-item active">{{title}}</li>
{% endblock %}
{% block content %}
<!-- таблица -->
<div class="row">
    <div class="col-12">
        <form action="" method="post">
            {% csrf_token %}
            <!-- interactive chart -->
            <div class="card">
                <!-- Заголовок -->
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-user"></i>
                        {{title}}
                    </h3>
                </div>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags %}
                <div class="alert alert-success alert-dismissible">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <div class="card-body">
                    {%for fr in form%}
                    <div class="form-group">
                        <label>{{ fr.label }}:</label>
                        {{ fr }}
                    </div>
                    {% if fr.errors%}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ошибка.</h5>
                        {{ fr.errors }}
                    </div>
                    {% endif %}
                    {%endfor%}
                </div>
                <div class="row no-print">
                    <div class="col-12">
                        <a href="{%url 'workers'%}" rel="noopener" class="btn btn-secondary"><i
                                class="fas fa fa-reply"></i> Отмена</a>
                        <button type="submit" class="btn btn-success float-right"><i class="fa fa-user"></i>
                            Добавить нового пользователя
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.таблица -->
{% endblock %}