{% extends 'base.html'%}
{% load static %}
{% block content_header %}
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item"><a href="{% url 'workers'%}">Пользователи</a></li>
<li class="breadcrumb-item"><a href="{%url 'workers_detail' workers.user.slug%}">{{ workers }}</a></li>
<li class="breadcrumb-item active">{{title}}</li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    {%if workers.archive_documents_employment %}
                    <a href="{{workers.archive_documents_employment.url}}">Скачать архив</a>
                    {%else%}
                    <b>Архив отсутствует</b>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-primary">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags %}
            <div class="alert alert-success alert-dismissible">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            <div class="post">
                                <p>
                                    Правила добавления: <br>
                                    - Размер не более 30мб<br>
                                    - Расширение rar,zip,7z <br>
                                </p>
                                {% if form.errors %}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.errors.archive_documents_employment }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="custom-file">
                                    {{ form.archive_documents_employment}}
                                    <label class="custom-file-label" for="customFile">Выберите файл</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-print">
                    <div class="col-12">
                        <a href="{% url 'workers_detail' workers.user.slug%}" rel="noopener" class="btn btn-secondary"><i
                                class="fas fa fa-reply"></i> Отмена</a>
                        <button class="btn btn-success float-right" type="submit">Загрузить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js'%}"></script>
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
{% endblock %}