{% extends 'base.html'%}
{% load static %}
{% block content_header %}
<li class="breadcrumb-item"><a href="{% url 'workers'%}">Сотрудники</a></li>
<li class="breadcrumb-item active">{{title}}</li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <!-- interactive chart -->
        <div class="card">
            <!-- Заголовок -->
            <div class="card-header">
                <h3 class="card-title">
                    {{title}}
                </h3>
                <div class="bd-example m-0 float-right">
                    {% if perms.workers.Subdivision_add %}
                    <a type="submit" class="btn btn-success btn-xs " href="{% url 'subdivision_add' %}">
                        Добавить Управление/Подразделение</a>
                    {%endif%}
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Управление/Подразделение</th>
                        <th>Сокращённое название</th>
                        <th>Описание</th>
                        <th width="50"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subdivision in subdivisions%}
                    <tr>
                        <td>{{subdivision.name}}</td>
                        <td>{{subdivision.abbreviation}}</td>
                        <td>{{subdivision.description}}</td>
                        <td width="100px">
                            {% if perms.workers.Subdivision_change %}
                            <a class="btn btn-info btn-sm" href="{% url 'subdivision_update' subdivision.slug %}"><i
                                    class="fas fa-pencil-alt"></i></a>
                            {%endif%}
                            {% if perms.workers.Subdivision_delete %}
                            <a class="remove-subdivision btn btn-danger btn-sm" data-toggle="modal"
                               data-target="#modal-default" data-slug="{{subdivision.slug}}"
                               data-text="{{subdivision.name}}"><i class="fas fa-trash"></i></a>
                            {%endif%}
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body-->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.таблица -->
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Подтверждение операции</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="remove-text"></p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <a href="" class="btn btn-primary" id="button-remove">Подтвердить</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}
{% block script %}
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script>
$(document).on("click", ".remove-subdivision", function () {
    var slug = $(this).data('slug');
    var text = $(this).data('text');
    document.getElementById("button-remove").href="?remove="+slug;
    document.getElementById("remove-text").innerText = "Вы пытаетесь удалить управление: '"+text+"'?";
});
</script>
{% endblock %}