{% extends 'base.html'%}
{% load static %}
{% block style %}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css'%}">
<link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css'%}">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'css/adminlte.css'%}">
{% endblock %}
{% block content_header %}
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item active">{{title}}</li>
{% endblock %}
{% block content %}
<!-- Поиск -->
<div class="row">
    <div class="col-12">
        <!-- interactive chart -->
        <div class="card card-primary card-outline">
            <!-- Заголовок -->
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-search"></i>
                    Детализированный поиск
                </h3>
                <div class="bd-example m-0 border-3 float-right">
                    <a type="submit" class="btn btn-light btn-xs" href="{% url 'workers'%}">Быстрый поиск</a>
                    <a type="submit" class="btn btn-primary btn-xs" href="{% url 'workers_filter'%}">Детализированный
                        поиск</a>
                </div>
            </div>
            <div class="card-body">
                <form action="" method="get">
                    <div class="row">
                        <div class="col form-group">{{search_user_filter.organization_subdivision}}</div>
                        <div class="col form-group">{{search_user_filter.organization_department}}</div>
                        <div class="col form-group">{{search_user_filter.chief}}</div>
                        <div class="col-xs form-group ">
                            <button type="submit" class="btn btn-md btn-default"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="col-xs form-group ">
                            <a href="{% url 'workers_filter'%}" type="submit" class="btn btn-md btn-default">
                                <i class="fa fa-eraser"></i>
                            </a>
                        </div>

                    </div>
                </form>
            </div>
            <!-- /.card-body-->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.Поиск -->
<!-- таблица -->
<div class="row">
    <div class="col-12">
        <!-- interactive chart -->
        <div class="card">
            <!-- Заголовок -->
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-user"></i>
                    {{title}}
                </h3>
                <div class="bd-example m-0 float-right">
                    <a type="submit" class="btn btn-success btn-xs " href="{% url 'workers_add' %}">
                        Добавить сотрудника</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="50"></th>
                        <th>ФИО</th>
                        <th>Телефон</th>
                        <th>Почта</th>
                        <th>Управление</th>
                        <th>Отдел</th>
                        <th>Должность</th>
                        <th style="width: 40px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for worker in workers%}
                    <tr>
                        <td>
                            {%if worker.user.image_smol %}
                            <img src="{{worker.user.image_smol.url}}" alt="user-avatar"
                                 class="img-circle img-bordered-sm" width="30" height="30">
                            {%endif%}
                            </a>
                        </td>
                        <td>{{worker}}</td>
                        <td>{{worker.user.phone}}</td>
                        <td>{{worker.user.email}}</td>
                        <td>{{worker.organization_subdivision}}</td>
                        <td>{{worker.organization_department}}</td>
                        <td>{{worker.chief}}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href=" url 'equipment_edit' context_list.pk">
                                <i class="fas fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body-->
            {% include 'include/pagination.html' %}
        </div>
        <!-- /.card -->
    </div>
    <!-- /.таблица -->
</div>
{% endblock %}

{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js'%}"></script>
<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js'%}"></script>
<script src="{% static 'plugins/moment/moment-with-locales.min.js'%}"></script>
<script src="{% static 'plugins/jQuery-Mask/jquery.mask.js'%}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js'%}"></script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2();
    //Date picker
    $('#dateEmployment').datetimepicker({
	    locale: 'ru',
		stepping:10,
		format: 'L',
    });
  })

</script>
{% endblock %}